#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  margin-top: 200px;
}

.last-action {
  border: 1px solid #646cff;
  border-radius: 8px;
}
